:root{
  --color1: #FBBAA1;
  --color2: #0e1c25;
  --color3: #FEFBF2;
  --color4: #2F2D59;
  --color5: #f74040;
  --color6: #4a65ec;
  --color7: #A0A5B2;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--color2);
  color: var(--color3);
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  /* border: 4px solid white; */
  width: 100%;
  /* height: 1000px; */
  padding: 1rem;
  display: flex;
  overflow: hidden;
  margin-bottom: 80px;
  /* position: relative; */
}
.nav{
  /* border: 1px solid white; */
  background-color: var(--color2);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  gap: 1.5rem;
}

.item{
  color: var(--color3);
 /*  border: 1px solid white; */
  font-size: 2.2rem;
  color: var(--color7);
  display: flex;
}
.item:hover{
  color: var(--color3);
  filter: drop-shadow(0px 0px 3px rgba(232, 216, 123, 0.801));
}
.active{
  color: var(--color5);
}
.page{
  width: 100%;
 /*  height: 100vh; */
}
.weather-header{
/*   border: 1px solid rebeccapurple; */
  display: flex;
  width: 100%;
  height: 250px;
  /* overflow: hidden; */
  position: relative;
}
.title{
  font-weight: 400;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 2rem;
}
.grados{
  font-size: 6rem;
  font-weight: 400;
}
.grados__c{
  font-weight: 200;
}
.btn{
  background-color: var(--color4);
  width: fit-content;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1.3rem;
}
.imgBig{
  position: absolute;
  width: 400px;
  top: -115px;
  right: -185px;

}
.weather-temp{
  position: absolute;
  bottom: 1.5rem;
  z-index: 1;
}
.weather-footer{
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.data-icon{
  /* border: #c9cee7 1px solid; */
  width: fit-content;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 0.2rem;

}
.icons-d{
  color: var(--color6);
  font-size: 1.5rem;
}
.sun{
  width: 100%;
  height: 90px;
  /* border: #c9cee7 1px solid; */
  margin-top: 2.5rem;
  position: relative;
  background-image: url('./assets/images/line-sun.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sun-p1{
  position: absolute;
  top: -10px;
  text-transform: uppercase;
}
.sun-p2{
  position: absolute;
  right: 0;
  bottom: 1.1rem;
  text-transform: uppercase;
}
.icon-sun{
  width: 25px;
  filter: drop-shadow( 0 0 6px rgba(255, 255, 255, 0.575));
}
.hours{
  display: flex;
  width: 100%;
  height: 105px;
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-x: auto; 
 /*  border: #c9cee7 1px solid; */
}
.hours-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
  /* height: 100%; */
  margin-right: 10px;
  /* border: 1px solid red; */
}
.hours-t{
  font-size: 1.2rem;
}
.hours-i{
  /* width: 25px; */
  /* height: 25px; */
  width: 55px;
}
.hours-w{
  font-size: 1.6rem;
}
.day{
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 1rem;
}
.day-item{
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  /* margin-top: 0.5rem;
  border: 1px solid red; */
}
.day-temp{
  font-weight: 700;
}
.txt-gray{
  color: var(--color7);
  margin-left: 1rem;

}
.daysH{
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-size: 1.3rem;
  color: var(--color7);
}
.days-i{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid 1px; */
}

/* codigo spinner inicio */
.spinner{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
 /*  align-items: center; */
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* fin spinner */
